html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #2e2d2f;
  margin-bottom: 60px;
}

div {
  color: white;
  background-color: #4b494d;
}

li {
  color: white;
  background-color: #4b494d;
}

header {
  background-color: #4b494d;
  box-shadow: 2px 2px 2px 2px rgb(72, 86, 99);
}

.footer {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar {
  background-color: rgba(128, 128, 128, 0);
  box-shadow: 2px 2px 2px 2px rgb(72, 86, 99);;
}

