@{
    ViewData["Title"] = "Home";
}

<div class="text-center" id="indexDiv">
    <h1 class="display-4">Cortex-M Microcontroller Data</h1>
    <p>Web socket server for viewing realtime microcontroller data on a bare metal rust device. </p>
</div>
