@{
    ViewData["Title"] = "Select";
}

<div class="text-center">
    <h1 class="display-4">Please select a pin to view realtime data</h1>
    <body>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin1">Pin 1</a>
        </li>
        <li>``
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin2">Pin 2</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin3">Pin 3</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin4">Pin 4</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin5">Pin 5</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin6">Pin 6</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin7">Pin 7</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Live" asp-action="Pin8">Pin 8</a>
        </li>
    </body>
</div>
