@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<div class="text-center" id="logDiv">
    <input type="text" id="username" placeholder="Username">
    <div>
        <input type="text" id="password" placeholder="Password">
    </div>
    <div id="logView">
        <label for="regButton"><u id="newUser">New User?</u></label>
        <button class="buttonSelect" id="regButton" onclick="RegisterRedirect()">Register</button>
        <button class="buttonSelect" id="logButton" onclick="TryLogin()">Login</button>
        <script>

            function RegisterRedirect() {
                document.getElementById('registerButton').click();   
            }

            async function TryLogin() {
                let username = document.getElementById('username').value;
                let password = document.getElementById('password').value;

                await fetch(`/TryLogin`, {
                    method: "POST",
                    body: JSON.stringify({
                        "username":username,"password":password
                    })
                })
                .then(res => {
                    if (!res.ok){
                        alert("User not found");
                    } else {
                        return res.text(); 
                    }
                })
                .then(token => {
                    if (token === undefined) {
                        return;
                    } else {
                        sessionStorage.setItem("JWT", token)
                    }
                });
                
                var token = sessionStorage.getItem("JWT");
                await fetch(`/Manage`, {
                    method: "GET",
                    body: JSON.stringify({
                        token
                    })
                });
            }

        </script>
        <a id="registerButton" asp-area="" asp-controller="Account" asp-action="Register"></a>
        <a id="loginButton" asp-area="" asp-controller="Account" asp-action="Manage"></a>
    </div>
</div>

